<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIvOCUY2yU4yaAveD89kJDn_LDwFMZiFs</string>
	<key>GCM_SENDER_ID</key>
	<string>22541716063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.letmebeyourchefflutter</string>
	<key>PROJECT_ID</key>
	<string>letmebeyourchefflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>letmebeyourchefflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22541716063:ios:a1c36da9692017a2c029ea</string>
</dict>
</plist>